body {
	margin: 0;
    font-family: 'Poppins', sans-serif;
}

#header {
	min-width: 980px;	
	width: 100%;
	height: 133px;
	background-color: #f4f4f4;
	display: flex;
}

#header #leftHeader{
	width: 60%;
	height: 100%;
}

#header #leftHeaderContent {
	margin-left: 50px;
}

#header #leftHeaderContent h3{
	margin: 35px 0px 0px 0px;
    letter-spacing: 5px;
    text-transform: uppercase;   
}

#header #leftHeaderContent p{
    margin: 0;
    text-transform: lowercase; 
}

.borderLeft {
	 border-left: 10px solid #f0ff00;
}

#header #rightHeader{
	width: 40%;
	height: 100%;
}


#header #rightHeader #navBar ul{
	list-style:none;
	display: flex;
	margin-top: 9%;
}

#header #rightHeader #navBar ul li{ 
	width: 72px;
    height: 24px;
    text-align: center;
}

#hello {
	font-size: 90px;
    margin: 0;
    letter-spacing: 25px;
}

#vaibhav {
	font-size: 48px;
	margin-top: 0px !important;
}

#engineer {
	font-size: 48px;
}

.highlight {
	background-color: #f0ff00;
	font-weight: 100;
}

#landingPage {
	min-width: 980px;	
	width: 100%;
	height: 738px;	
	display: flex;
	background-color:#f4f4f4;
}

#landingPage #leftPanel {
	width: 66%;
	height: 100%;	
	background-color: #f4f4f4;
	font-size: 32px;
}

#landingPage #leftPanel h1 {
	text-align: center;
    margin-top: 15%;
    text-transform: uppercase;
}

#landingPage #leftPanel h1 p{
	margin:10px;
}

#landingPage #rightPanel {
	width: 34%;
	height: 100%;	
}

.subheader {
	height: 270px;
	width: 100%;
}

.title {
	height: 50%;
}

.yellowDiv {
	height: 50%;
	width: 40%;
	background-color: #f0ff00;
}

 .yellowDiv h1 {
 	position: relative;
    top: -40px;
    margin: 0;
    margin-left: 15%;
    font-size: 50px;
 }

 #rightPanel #image {
 	background-image: url("../images/dp.png");
 	height: 100%;
 	width: 100%;
 	border-radius: 20px;
 }

#about #aboutContent {
	width: 40%;
    text-align: justify;
    margin: auto; 
    padding-top: 100px;   
}

#projects #projectsContent {
	background-color: black;
    width: 90%;
    margin: auto;
    height: 400px;
    position: relative;
    top: -40px;
}

#skills {
	width: 100%;
	margin-top: 100px;
}

#skills .skillsSection {
	width: 40%;
    height: 800px;
    background-color: #f4f4f4;
    margin: auto;
    margin-top: 100px;
}

.verticalYellowDiv {
	height: 650px;
    background-color: #f0ff00;
    width: 100px;
    position: relative;
    margin-left: 93%;
    top: 70px;
}

#skills span{
    font-size: 22px;
    background-color: #fbffd7;
    padding: 2px 10px 2px 10px;
    border-radius: 2px;
    margin: 0px 10px 10px 0px;
    color: #6b0f0f;
    display: inline-block;
}

.grey {
	background-color: #E0E0E0;
}

.black {
	background-color: #0f0e0e;
	color: white;
}

#skillsContent {
	width: 100%;
}

#skillsContent #content {
	width: 30%;
	margin: 100px auto 100px auto;
}

#footer {
	background-color: #f4f4f4;
	height: 200px;
	width: 100%;
}