body {
	margin: 0;
    font-family: 'Poppins', sans-serif;
}

#header {
	min-width: 980px;	
	width: 100%;
	height: 133px;
	background-color: #f4f4f4;
	display: flex;
}

#header #leftHeader{
	width: 60%;
	height: 100%;
}

#header #leftHeaderContent {
	margin-left: 50px;
}

#header #leftHeaderContent h3{
	margin: 35px 0px 0px 0px;
    letter-spacing: 5px;
    text-transform: uppercase;   
}

#header #leftHeaderContent p{
    margin: 0;
    text-transform: lowercase; 
}

.borderLeft {
	 border-left: 10px solid #f0ff00;
}

#header #rightHeader{
	width: 40%;
	height: 100%;
}


#header #rightHeader #navBar ul{
	list-style:none;
	display: flex;
	margin-top: 9%;
}

#header #rightHeader #navBar ul li{ 
	width: 16%;
    height: 24px;
    text-align: center;
}

#hello {
	font-size: 90px;
    margin: 0;
    letter-spacing: 25px;
}

#iam {
	font-size: 48px;
	margin-top: 0px !important;
	letter-spacing: 10px;
}

#engineer {
	font-size: 48px;
}

.highlight {
	background-color: #f0ff00;
	font-weight: 100;
}

#landingPage {
	min-width: 980px;	
	width: 100%;
	height: 738px;	
	display: flex;
	background-color:#b9b9b4;
	color: #000000;
	/*background-color:#f4f4f4;*/
}

#landingPage #leftPanel {
	width: 60%;
	height: 100%;	
	font-size: 32px;
}

#landingPage #leftPanel h1 {
	text-align: center;
    margin-top: 15%;
    text-transform: uppercase;
}

#landingPage #leftPanel h1 p{
	margin:10px;
}

#landingPage #rightPanel {
	width: 40%;
	height: 100%;	
}

.subheader {
	height: 270px;
	width: 100%;
}

.title {
	height: 50%;
}

.yellowDiv {
	height: 50%;
	width: 40%;
	background-color: #f0ff00;
}

 .yellowDiv h1 {
 	position: relative;
    top: -40px;
    margin: 0;
    margin-left: 15%;
    font-size: 50px;
 }

 #rightPanel #image {
 	background-image: url("../images/dp.png");
 	height: 100%;
 	width: 100%;
 	border-radius: 20px;
 	background-repeat: no-repeat;
 	opacity: 0.7;
 }

#about #aboutContent {
	width: 40%;
    text-align: justify;
    margin: auto; 
    padding-top: 100px;   
}

#projects #projectsContent {
	background-color: black;
    width: 90%;
    margin: auto;
    height: 400px;
    position: relative;
    top: -40px;
    color: white;
}

#projects #projectsInnerContent{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: flex;
}

#projects #projectsInnerContent > div{    
    width: 33%;
    text-align: center;
    margin: auto;
    height: 100px;
}

#footer {
	background-color: #f4f4f4;
	height: 200px;
	width: 100%;
}

#ivpImage {
    background-image: url(../images/polaris.png);
    height: 50px;
    width: 125px;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.projectSubheader {
	color: white;
}

.learnMore {
	color: white;
}

#ivpPolaris h3{
    font-size: 36px;	
    margin: 0;
    letter-spacing: 5px;
}

#ivpPolaris p{
	margin: 0;
    font-size: 10px;
    text-transform: uppercase;
}

#ivpHackthon #topFont{
    font-size: 20px;	
    margin: 0;
}

#ivpHackthon #bottomFont{
	margin: 0;
    font-size: 26px;
}

#ThinkLearnGrow #wrapText h3 {
    font-size: 20px;	
    margin: 0;
}

#wrapText {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: auto;
    font-family: cursive;
}

#hackathonBorder{
    border-left: 1px solid white;
    margin: auto;
    width: 180px;
}

#stack{
    width: 90%;
    margin: auto;
    position: relative;
    top: -40px;
    height:400px;
    background-color: #000000;
}

#stackContent {
    width: 100%;  
    height:100%;
    /*padding-top: 5%;*/
}

#skills {
	margin-top: 150px;
}
