body {
	margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#header {
	min-width: 980px;	
	width: 100%;
	height: 133px;
	background-color: #f4f4f4;
	display: flex;
}

#header #leftHeader{
	width: 50%;
	height: 100%;
}

#header #leftHeaderContent {
	margin-left: 50px;
}

#header #leftHeaderContent h3{
	margin: 35px 0px 0px 0px;
    letter-spacing: 5px;
    text-transform: uppercase;   
}

#header #leftHeaderContent p{
    margin: 0;
    text-transform: lowercase; 
}

.borderLeft {
	 border-left: 10px solid #f0ff00;
}

#header #rightHeader{
	width: 50%;
	height: 100%;
}

.navBar {
    height: 50px;
    width: 100%;
    text-align: right;
    margin-top: 50px;
}

.navBar ul{
    list-style: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navBar ul li{ 
    height: 50px;
    display: inline-block;
    padding-right: 7%;
    cursor: pointer;
}

.navBar ul li img{ 
    width: 32px;
    height: 32px;
}

#hello {
	font-size: 90px;
    margin: 0;
    letter-spacing: 25px;
}

#iam {
	font-size: 48px;
	margin-top: 0px !important;
	letter-spacing: 10px;
}

#engineer {
	font-size: 48px;
}

.highlight {
	background-color: #f0ff00;
	font-weight: 100;
}

#landingPage {
	min-width: 980px;	
	width: 100%;
	height: 738px;	
	display: flex;
	background-color:#b9b9b4;
	color: #000000;
	/*background-color:#f4f4f4;*/
}

#landingPage #leftPanel {
	width: 60%;
	height: 100%;	
	font-size: 32px;
}

#landingPage #leftPanel h1 {
	text-align: center;
    margin-top: 17%;
    text-transform: uppercase;
}

#landingPage #leftPanel h1 p{
	margin:10px;
}

#landingPage #rightPanel {
	width: 40%;
	height: 100%;	
}

.subheader {
	height: 270px;
	width: 100%;
}

.title {
	height: 50%;
}

.yellowDiv {
	height: 50%;
	width: 40%;
	background-color: #f0ff00;
}

 .yellowDiv h1 {
 	position: relative;
    top: -40px;
    margin: 0;
    margin-left: 15%;
    font-size: 50px;
 }

 #rightPanel #image {
 	background-image: url("../images/dp.png");
 	height: 100%;
 	width: 100%;
 	border-radius: 20px;
 	background-repeat: no-repeat;
 	opacity: 0.7;
 }

#about #aboutContent {
	width: 40%;
    text-align: justify;
    margin: auto; 
    padding-top: 100px;   
}

#projects {
    margin-top: 100px;
}

#projects #projectsContent {
	background-color: black;
    width: 90%;
    margin: auto;
    height: 400px;
    position: relative;
    top: -40px;
    color: white;
}

#projects #projectsInnerContent{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: flex;
}

#projects #projectsInnerContent > div{    
    width: 33%;
    text-align: center;
    margin: auto;
    height: 100px;
}

#ivpImage {
    background-image: url(../images/polaris.png);
    height: 50px;
    width: 125px;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.projectSubheader {
	color: white;
}

.learnMore {
	color: white;
}

#ivpPolaris h3{
    font-size: 36px;	
    margin: 0;
    letter-spacing: 5px;
}

#ivpPolaris p{
	margin: 0;
    font-size: 10px;
    text-transform: uppercase;
}

#ivpHackthon #topFont{
    font-size: 20px;	
    margin: 0;
}

#ivpHackthon #bottomFont{
	margin: 0;
    font-size: 26px;
}

#ThinkLearnGrow #wrapText h3 {
    font-size: 20px;	
    margin: 0;
}

#wrapText {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: auto;
    font-family: cursive;
}

#hackathonBorder{
    border-left: 1px solid white;
    margin: auto;
    width: 180px;
}

#stack{
    width: 90%;
    margin: auto;
    position: relative;
    top: -40px;
    height:400px;
    background-color: #000000;
}

#stackContent {
    width: 100%;  
    height:100%;
    /*padding-top: 5%;*/
}

#skills {
	margin-top: 150px;
}

#collage {
    width: 100%;
    margin-top: 100px;
}

.picBorder {
    width: 1064px;
    height: 650px;
    margin: auto;
    border: 10px solid #f0ff00;
}

.picInfo {
    height: 80px;
    width: 820px;
    background-color: #f0ff00;
    margin: auto;
    position: relative;
    top: -35px;
    font-size: 16px;
    font-weight: bold;    
    text-align: center;
    color: #272727;
}

.picInfo p {
    margin: 0;
    padding-top: 20px;
}

#pic1 {
    background-image: url(../images/techUSS.png);
    height: 610px;
    width: 1024px;
    margin: auto;
    margin-top: 20px;
    border-radius: 2px;
}


#footer {
    background-color: #000000;
    /*color: #f0ff00;*/
    color: white;
    height: 250px;
    width: 100%;
    margin-top: 200px;
}

#footerTitle {
    text-align: center;
    padding-top: 70px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

#footer ul{
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 16px 0px 0px 0px;
    padding: 0;
}

 #footer ul li{ 
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}

#footer ul li img{ 
    width: 24px;
    height: 24px;
}

.iconInfo {
    font-size: 11px;
}